body{
    font-family: 'Gowun Batang', serif;
}
h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    
}

.name-highlight{
    color: #00FF7F;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}